* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Main container */
.main-container {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 530px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
    -moz-box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
    box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
}

/* image container */
.img-container {
    padding: 15px;
}

.main-img {    
    width: 100%;
    border-radius: 15px;
}

/* text container */
.text-container {
    margin: 0 30px;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    font-size: 10px;
    color: hsl(217, 44%, 55%);
    transition: color .2s linear;
}

a:hover {
    color: hsl(217, 45%, 35%);
}

a:active {
    color: hsl(218, 45%, 75%);
}



/* QR container generator */
.generate-container {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 260px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
    -moz-box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
    box-shadow: 0px 12px 34px -7px rgba(123, 134, 157, 1);
    display: none;
    transition: height .2s ease;
}

.generate-container-active {
    height: 530px;
}

/* qr image container */

.qr-text-label {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.qr-generator-input {
    padding: 10px;
    outline: none;
    border: 1px solid hsl(212, 45%, 89%);
    width: 95%;
    margin: 20px 0;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
}

.qr-generator-input::placeholder {
    color: hsl(220, 15%, 55%);
}

/* qr mode container */
.qr-mode-container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.qr-mode {
    margin-top: 10px;
    display: inline-block;
}

.qr-mode li {
    display: inline-block;
    font-size: 8px;
    color: hsl(218, 44%, 22%);
    background-color: hsl(212, 45%, 89%);
    padding: 2px 15px;
    cursor: pointer;
    margin-left: -4px;
    transition-duration: .7s;
}

.qr-mode .active {
    background-color: hsl(217, 44%, 55%);
    color: hsl(0, 0%, 100%);
    line-height: 12px;
    border-radius: 5px;
    letter-spacing: .1rem;
}

/* qr generator container */
.qr-text-container {
    margin: 0 30px;
    margin-top: 25px;
}

.qr-download {
    font-size: 12px;
    justify-content: left;
    text-align: left;
    margin-left: 50px;
    color: hsl(218, 44%, 22%);
}

.qr-download li {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-left: 11px;
    color: hsl(217, 44%, 55%);
}

.qr-download li:hover {
    color: hsl(217, 45%, 35%);
}

.qr-download li:active {
    color: hsl(218, 45%, 75%);
}

.qr-file-type {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* button */
.qr-generate {
    background-color: hsl(217, 44%, 55%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}

.qr-generate:hover {
    background-color: hsl(217, 45%, 35%);
}

.qr-generate:active {
    background-color: hsl(218, 45%, 75%);
    color: hsl(217, 45%, 35%);
}

/* qr image container */
.qr-img-container {
    opacity: 0;
    pointer-events: none;
    margin-top: 15%;
    
}

.generate-container.generate-container-active .qr-img-container {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s .05s ease;
}


/* media queries */

@media only screen and (max-width: 355px) {
    .main-container {
            width: 250px;
            height: 415px;
        }

    h1 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .generate-container {
        width: 250px;
        height: 250px;
    }

    .generate-container-active {
    height: 450px;
    }

    .qr-text-label {
        font-size: 12px;
    }

    .qr-text-container {
        margin: 0 10px;
        margin-top: 10px;
    }

    .qr-generator-input {
        padding: 5px;
    }

    .qr-logo-custom,
    .qr-download {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .qr-download {
        flex-direction: column;
        margin-left: 0;
    }

    .qr-file-type {
        margin-bottom: 0;
        margin-left: -10px;
    }

    .qr-generate {
        border-radius: 5px;
        font-family: 'Outfit', sans-serif;
        cursor: pointer;
        width: 100%;
        padding: 7px;
        font-size: 10px;
        margin-top: 10px;
    }
    a {
        font-size: 10px;
    }

    .qr-img-container {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 265px) {
    .main-container {
        width: 225px;
        height: 380px;
        box-shadow: none;
    }

    .img-container {
        padding: 10px;
    }

    .text-container {
        margin: 0 20px;
    }

    h1 {
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }

    .generate-container {
        width: 225px;
        height: 250px;
    }

    .generate-container-active {
    height: 430px;
    }

     .qr-img-container {
        margin-top: 5%;
    }
}
