:root {
    --primary-darkcyan: #3c8067;
    --primary-darcyan-hover: #639985;
    --primary-cream: #f2ebe3;
    
    --neutral-darkblue: #1c232b;
    --neutral-grayishblue: #6c7289;
    --neutral-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    position: relative;
    display: flex;
    max-width: 525px;
    background: var(--neutral-white);
    margin: 10px;
    border-radius: 10px;
}

/* image style */
.img-container {
    min-width: 250px;
    height: 100%;
}


.img-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

/* content style */
.section-card-second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

h3 {
    color: var(--neutral-grayishblue);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 12px;
}

h1 {
    font-family: 'Fraunces', serif;
    color: var(--neutral-darkblue);
    font-size: 32px;
    margin: 15px 0;
}

p {
    color: var(--neutral-grayishblue);
    font-size: 14px;
    line-height: 1.3rem;
}

span {
    text-transform: uppercase;
}

.price-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.price-container p:first-child {
    font-size: 24px;
    font-family: 'Fraunces', serif;
    color: var(--primary-darkcyan);
}

.price-container p:last-child {
    text-decoration: line-through;
}

/* button style */

.button-container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: var(--primary-darkcyan);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-cart-button {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-white);
    outline: none;
    border: none;
    background: inherit;
}

.button-container:hover {
    background: var(--primary-darcyan-hover);
}

.button-container:active {
    background: var(--primary-darcyan-hover);
    transform: scale(1.05);
    transition: transform 1s ease-out;
}

/* message popup */
.message {
    visibility: hidden;
    position: absolute;
    top: 20%; bottom: 20%;
    left: 20%; right: 20%;
    background: linear-gradient(0.50turn, #639985, #f2ebe3);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message p {
    text-align: center;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    color: var(--neutral-darkblue);
    line-height: 1.5;
}

.close-button {
    position: absolute;
    width: 12px;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.close-button:hover {
    transform: scale(1.3);
    transition: transform 1s linear;
}
/* mobile responsive */
@media(max-width: 540px) {
        .main-card {
            min-height: 630px;
            zoom: inherit;
            display: flex;
            flex-direction: column;
            max-height: 100vh;
            max-width: 100vh;
            margin: 0 20px;
        }

        .img-container {
            width: 100%;
            border-radius: 10px 10px 0 0;
            content: url(./images/image-product-mobile.jpg);
        }

        .img-container img {
            height: 100%;
            width: 100%;
            border-radius: 10px 0 0 10px;
        }

        .section-card-second {
            align-items: space-between;
            padding: 30px;
            height: 100%;
        }

        h1 {
            margin: 10px 0;
            font-size: 28px;
        }

        .price-container {
            padding: 20px 0;
        }
}

@media(max-width: 375px) {
    .main-card {
        min-height: 570px;
    }
}