/* variables for palette light theme */
:root {
    --white-light: #fafafa;
    --grey-light: #e4e5f1;
    --grey-mid: #d2d3db;
    --grey-dark: #9394a5;
    --dark: #484b6a;
    --green-light: #0a5d00;
}


#dark-theme {
    background-color: var(--grey-900);
    color: var(--white);
}

#light-theme {
    background-color: var(--white-light);
    color: var(--dark);
}

#light-theme button {
    background-color: var(--grey-mid);
}

#light-theme button:hover {
    background-color: var(--white-light);
}

#light-theme button:active {
    background-color: var(--grey-dark);
    opacity: 1;
}

#light-theme .component-container {
    background-color: var(--grey-light);
}

#light-theme .user-info-name p {
    color: var(--green-light);
}

/* toggle style */
.theme-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

/* remove standard style */
.theme-toggle div {
    background: none !important;
    box-shadow: none !important;
}
/* remove standard style */

/* rewrite standard style */
.theme-toggle .react-switch-bg {
    background: var(--grey-dark)!important;

}

.theme-toggle .react-switch-handle {
    background-color: var(--white-light) !important;
}