@media screen and (max-width: 768px) {
    /* Search START */
    .lang-search {
        margin: 0;
    }

    .search-wrapper input[type="text"] {
    width: fit-content;
    }

    .lang-search {
        padding: 1rem;
    }

    .search-wrapper button {
        display: none;
    }

    /* Search END */



    /* Menu START */
    .logo a img {
        width: 40px;
        height: 40px;
    }

    .main-menu ul {
        display: none;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }


    .menu-line {
    width: 32px;
    height: 2px;
    background-color: #464646;;
    margin: 6px 0;
    }

    /* Menu END */

    /* Hero banner START */
  header {
    height: fit-content;
    max-height: 250px;
  }

  .header-text {
    visibility: hidden;
  }
  
  .header-text-mobile {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fbf5ee;
    padding: 1rem 4%;
  }


  .header-text-mobile h1 {
    font-size: 2rem;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 1.4rem;
}

    .header-text-mobile p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}



  /* Hero banner END */
}